extends layout

mixin submit2(text,name,id)
    .form-group
        button.btn.btn-default(type="submit",name="#{name}",id="#{id}")= text

mixin nav_item2(href, active)
    li(class=active): a( href=href, target="_blank" )
        block

block body
    +navbar-fixed("Hacktoberfest Progress Checker","navbar","inverse")
        +nav_item("#","active") Home
        +nav_item2("https://hacktoberfest.digitalocean.com/#featured-projects") Featured Projects
        +nav_item2("https://github.com/search?l=&q=state%3Aopen+label%3Ahacktoberfest&ref=advsearch&type=Issues&utf8=%E2%9C%93") Browse all Projects
    .container
        .starter-template
            h1
                | Check your&nbsp;
                a(href="https://hacktoberfest.digitalocean.com/") Hacktoberfest
                | &nbsp;progress
        .row
            .col-md-12
                h3.countdown
                    | TIME REMAINING
        .row
            .countdown
                .col-md-12
                    span.days
                    | d
                    span.hours
                    | h
                    span.minutes
                    | m
                    span.seconds
                    | s
        .row
            .col-md-4
                form#ghform
                    +input("text","ghuser","Github Username","Github Username","ghuser")
                    +submit2("Check","default","checkbutton")

        .row
            h3#total Total PR's: 0

            table.table.table-stripped.table-hover
                thead
                    tr
                        th Repository
                        th PR #
                        th Title
                        th Created
                        th Status
                tbody#results
                    tr
                        td(colspan="5", style="text-align:center;") No data to show

            img(src="images/loading.gif").loading#loading
