body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.loading{
    width: 64px;
    display: none;
}